:root {
  --main-font: 'Poppins', sans-serif;
  --second-font: 'Josefin Sans', sans-serif;
  --text-color: #666666;
  --second-text-color: #121212;
  --light-text-color: #ffffff;
  --background-color: #262626;
  --primary-color: #ff6428;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
ul,
ol,
p {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

span {
  color: var(--primary-color);
}

.header {
  padding-top: 62px;
  padding-bottom: 62px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  /* 29/24 */
  color: var(--second-text-color);
}

.header__figure {
  margin-right: 12px;
}

.header__nav {
  margin-left: 131px;
}

.header__button {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* 24/16 */
  color: rgba(18, 18, 18, 0.4);
  -webkit-transition: color 0.3s ease, -webkit-text-decoration 0.3 ease;
  transition: color 0.3s ease, -webkit-text-decoration 0.3 ease;
  transition: color 0.3s ease, text-decoration 0.3 ease;
  transition: color 0.3s ease, text-decoration 0.3 ease, -webkit-text-decoration 0.3 ease;
}

.header__item:not(:last-child) {
  margin-right: 56px;
}

.header__item:hover, .header__item:focus {
  color: var(--primary-color);
  text-decoration: underline;
}

.hero {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero__title {
  margin-bottom: 16px;
  font-family: var(--second-font);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.19;
  /* 67/56 */
  color: var(--second-text-color);
}

.hero__text {
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* 24/16 */
}

.hero__link {
  display: inline-block;
  padding: 18px 48px;
  margin-right: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  /* 24/16 */
  color: var(--light-text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.hero__link:hover, .hero__link:focus {
  background-color: #d84c14;
}

.hero__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__first-icon {
  margin-right: 28px;
}
/*# sourceMappingURL=main.css.map */