:root {
	// ШРИФТИ
	--main-font: 'Poppins', sans-serif;
	--second-font: 'Josefin Sans', sans-serif;

	// ПАЛІТРА КОЛЬОРІВ
	--text-color: #666666;
	--second-text-color: #121212;
	--light-text-color: #ffffff;
	--background-color: #262626;
	--primary-color: #ff6428;
}
