.categories {
	padding-top: 180px;

	padding-bottom: 200px;
}
.categories__title {
	margin-bottom: 80px;

	font-family: var(--second-font);
	text-align: center;
	font-weight: 600;
	font-size: 44px;
	line-height: 1.2; /* 53/44 */
	color: var(--second-text-color);
}
.categories__list {
	display: flex;
	justify-content: center;

	// @media screen and (max-width: 1100px) {
	// 	flex-wrap: wrap;
	// 	margin: -15px;
	// }
}
.categories__item {
	&:not(:last-child) {
		margin-right: 69px;
	}

	// @media screen and (max-width: 1100px) {
	// 	&:not(:last-child) {
	// 		margin-right: 0px;
	// 	}

	// 	margin: 15px;
	// 	flex-basis: calc((100% - 4 * 15px) / 2);
	// }
}
.categories__link {
	position: relative;
}
.categories__img {
	box-shadow: 0px 13px 19px rgb(0 0 0 / 7%), 0px 13px 19px rgb(0 0 0 / 7%),
		0px 13px 19px rgb(0 0 0 / 7%), 0px 13px 19px rgb(0 0 0 / 7%);
	border-radius: 20px;
}
.categories__text {
	position: absolute;
	left: 0;
	bottom: 0;

	padding: 30px 20px;
	width: 100%;
	text-align: center;

	font-weight: 600;
	font-size: 20px;
	line-height: 1.5; /* 30/20 */
	color: var(--light-text-color);
}
