.categories {
	padding-top: 180px;

	padding-bottom: 200px;
}
.categories__title {
	margin-bottom: 80px;

	font-family: var(--second-font);
	text-align: center;
	font-weight: 600;
	font-size: 44px;
	line-height: 1.2; /* 53/44 */
	color: var(--second-text-color);
}
.categories__list {
	display: flex;
	justify-content: center;
}
.categories__item {
	position: relative;

	&:not(:last-child) {
		margin-right: 69px;
	}
}
// .categories__link {
// }
.categories__img {
	border-radius: 20px;
}
.categories__text {
	position: absolute;
	left: 0;
	bottom: 0;

	padding: 30px 20px;
	width: 100%;
	text-align: center;

	font-weight: 600;
	font-size: 20px;
	line-height: 1.5; /* 30/20 */
	color: var(--light-text-color);
}
