.favorite {
	padding-bottom: 100px;

	@media screen and (max-width: 479.98px) {
		padding-bottom: 80px;
	}
}
.favorite__wrapper {
	display: flex;
	align-items: center;

	@media screen and (max-width: 991.98px) {
		flex-direction: column;
	}
}

.favorite__content {
	flex: 0 1 50%;
}
.favorite__title {
	margin-bottom: 60px;

	font-family: var(--second-font);
	font-weight: 600;
	font-size: 44px;
	line-height: 1.4;
	color: var(--second-text-color);
}
.favorite__inner {
	display: flex;

	@media screen and (max-width: 991.98px) {
		justify-content: center;
	}

	@media screen and (max-width: 479.98px) {
		flex-direction: column;
		align-items: center;
	}
}
.favorite__google {
	margin-right: 20px;

	@media screen and (max-width: 479.98px) {
		margin-right: 0;
		margin-bottom: 20px;
	}
}
.favorite__apple {
}
.favorite__image {
	flex: 0 1 50%;
}
