.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	padding-top: 62px;
	padding-bottom: 62px;

	// @media screen and (max-width: 1090px) {
	// 	padding-top: 30px;
	// 	padding-bottom: 30px;
	// }
}
.flex-container {
	display: flex;
	align-items: center;
}
.header__logo {
	display: flex;
	align-items: center;

	font-weight: 600;
	font-size: 24px;
	line-height: 1.2; /* 29/24 */
	color: var(--second-text-color);
}
.header__figure {
	margin-right: 12px;
}
.header__nav {
	margin-left: 131px;
}
.header__button {
	display: none;
}
.header__list {
	display: flex;
}
.header__item {
	&:not(:last-child) {
		margin-right: 56px;
	}
}
.header__link {
	font-weight: 500;
	line-height: 1.5; /* 24/16 */
	color: rgba(18, 18, 18, 0.4);

	transition: color 0.3s ease;

	&:hover,
	&:focus {
		color: var(--primary-color);
	}
}
